@import "icon-font";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
    --color: #006699;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    &:focus {
        outline: 0;
    }
}

body {
    background-color: #F5F6F8;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: #fff;
    margin-bottom: 16px;
    .container {
        height: 56px;
        display: flex;
        align-items: center;
        .search {
            margin-left: 18px;
            position: relative;
            i {
                position: absolute;
                top: 0;
                left: 0;
                height: 32px;
                width: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #aaa;
            }
            input {
                height: 32px;
                width: 100%;
                border-radius: 5px;
                background-color: rgba(#DEDEDE, .32);
                font-size: 14px;
                padding: 0 14px 0 44px;
                &::placeholder {
                    color: #AAAAAA;
                }
            }
        }
        .menu {
            margin: 0 auto;
            ul {
                display: flex;
                li {
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 12px;
                        color: #AAA;

                        i {
                            font-size: 20px;
                        } 
                        span {
                            display: none;
                        }
                        &:hover {
                            color: var(--color);
                        }
                    }  
                    &.active {
                        a {
                            color: var(--color);
                            i {
                                margin-right: 6px;
                            }
                            span {
                                display: block;
                            }
                        }
                    } 
                }
            }
        }

        .user-menu {
            a {
                display: flex;
                align-items: center;
                .detail {
                    display: flex;
                    flex-direction: column;
                    text-align: right;
                    margin-right: 6px;
                    .name {
                        font-size: 12px;
                        color: #17272F;
                    }
                    .status {
                        font-size: 10px;
                        &.online {
                            color: #31B057;
                        }
                        &.ofline {
                            color: #B03131;
                        }
                    }
                }
                img {
                    width: 24px;
                    height: 24px;
                    min-width: 24px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                i {
                    color: #A7B4CC;
                    font-size: 12px;
                    margin-left: 5px;
                }
            }
        }
    }
}

main {
    .container {
        display: flex;
        .sidebar {
            min-width: 270px;
            width: 270px;
            .widget {
                margin-bottom: 16px;
                background-color: #fff;
                border-radius: 6px;
                padding: 15px;
            }

            .widget-stats {
                padding: 8px;
                .stat-user {
                    text-align: center;
                    padding-bottom: 16px;
                    margin-bottom: 16px;
                    border-bottom: 1px solid #EDF0F5;
                    .cover {
                        height: 43px;
                        background: url(../image/cover-bg.png) no-repeat center center;
                        background-size: cover;
                        border-radius: 4px;
                    }
                    .avatar {
                        text-align: center;
                        margin-top: -26px;
                        margin-bottom: 10px;
                        img {
                            width: 52px;
                            height: 52px;
                            border-radius: 50%;
                            display: block;
                            margin: 0 auto;
                            border: 2px solid #fff;
                        }
                    }
                    .name {
                         font-size: 16px;
                         font-weight: 500;
                         color: #17272F;
                    }
                    .job-title {
                        font-size: 14px;
                        color: #aaa;
                        margin-top: 4px;
                    }
                }
                ul {
                    padding: 0 7px 11px;
                    li {
                        display: flex;
                        justify-content: space-between;
                        font-size: 14px;
                        &:first-child {
                            margin-bottom: 14px;
                        }

                        .key {
                            color: #17272F;
                        }
                        .value {
                            color: var(--color);
                            font-weight: 500;
                        }
                    }
                }
            }

            .widget-newest {
                h6 {
                    font-size: 14px;
                    font-weight: 500;
                    color: #17272F;
                    padding-bottom: 8px;
                    border-bottom: 1px solid #EDF0F5;
                    margin-bottom: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .dropdown {
                        a {
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                            color: #31B057;
                            font-weight: normal;
                        }
                        i {
                            font-size: 10px;
                            color: #aaa;
                            margin-left: 5px;
                        }
                    }
                }

                ul {
                    padding-bottom: 30px;
                    &:last-child {
                        padding-bottom: 0px;
                    }

                    li {
                        a {
                            display: flex;
                            align-items: center;
                            font-size: 12px;
                            color: var(--color);
                            padding: 4px 0;
                            &:hover {
                                color: #222;
                            }
                            i {
                                width: 21px;
                                font-size: 11px;

                                &.icon-hash {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }

            .widget-btn {
                height: 50px;
                padding: 0 15px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #17272F;
                i {
                    color: var(--color);
                }
                &:hover {
                    border: 1px solid var(--color);
                }
                &.more {
                    height: 50px;
                    justify-content: center;
                    font-weight: 500;
                    font-size: 14px;
                    color: var(--color);
                }
            }
        }


        .content {
            flex: 1;
            margin: 0 30px;
        }
    }
}